[tools]
hugo-extended = '0.152.2'
node = '24.11.1'
go = '1.25'
pnpm = '10.21.0'

[tasks.install]
description = "Install dependencies"
run = ["rm package.hugo.json || echo ''", "rm -rf public || echo ''", "hugo mod tidy", "hugo mod npm pack", "pnpm install"]

[tasks.build]
description = "Build Hugo site"
depends = ["install"]
run = "hugo --gc --minify"

[tasks.server]
description = "Run hugo server"
depends = "install"
run = "hugo server -w"

[tasks.update]
description = "Update the theme to latest release"
run = "hugo mod get -u"
depends_post = "install"

[tasks.update-to-main]
description = "Update the theme to main branch"
run = "hugo mod get github.com/hugo-toha/toha/v4@main"
depends_post = "install"

[tasks.fix-security]
description = "Run pnpm audit fix"
run = "pnpm audit --fix"