[build]
command = "mise run build --baseURL $DEPLOY_URL"
publish = "public"

[build.environment]
HUGO_ENABLEGITINFO = "true"
NODE_VERSION = "v24"
MISE_VERSION = "v2025.11.3"
MISE_VERBOSE = "1"

[context.production.environment]
HUGO_ENV = "production"
