[build]
command = "mise run build -b $DEPLOY_URL"
publish = "public"

[build.environment]
HUGO_ENABLEGITINFO = "true"
NODE_VERSION = "v24.11.1"

[context.production.environment]
HUGO_ENV = "production"

[context.split1]
command = "mise install"

[context.deploy-preview]
command = "mise install && mise run build --buildFuture -b $DEPLOY_PRIME_URL"

[context.branch-deploy]
command = "mise install && mise run build -b $DEPLOY_PRIME_URL"