[build]
command = "rm package.hugo.json || echo '' && rm -rf public || echo '' && hugo mod tidy && hugo mod npm pack && pnpm install && hugo --gc --minify --baseURL $DEPLOY_URL"
publish = "public"

[build.environment]
HUGO_ENABLEGITINFO = "true"
NODE_VERSION = "v24"
HUGO_VERSION = "0.152.2"
PNPM_VERSION = "10.21.0"

[context.production.environment]
HUGO_ENV = "production"
