[build]
command = "mise run build --baseURL $DEPLOY_URL"
publish = "public"

[build.environment]
HUGO_ENABLEGITINFO = "true"
NODE_VERSION = "v24"

[context.production.environment]
HUGO_ENV = "production"
